@{
    ViewBag.Title = "O webu";
}


<div class="jumbotron" style="border-radius: 3px;border: 1px solid #DDDDDD;background-color:white;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:10px; margin-top:15px;">
    <div class="container">
        <div class="col-lg-12" style="background-color:white;">
            
            <h2>
                Základní informace
            </h2>
            <p style="font-size:15px;line-height:150%;">
                QUIDO je webová aplikace, která využívá statistiku tvořenou samotnými uživateli k odpovídání na rozmanité otázky. Celá aplikace a všechny její funkce jsou zdarma. Statistiku můžete libovolně využívat a sdílet, poprosíme vás jenom o uvedení naší stránky ve zdrojích.
            </p>
            <h2>
                Akcelerátor GreenLight
            </h2>
            <p style="font-size:15px;line-height:150%;">
                Nápad na vytvoření webové aplikace, která by odpovídala na otázky pomocí statistiky vznikl v říjnu roku 2016. O měsíc později byl projekt prezentován v Ostravském akcelerátoru GreenLight a postoupil mezi 16 nejlepších projektů z celkových 50. Během celého akcelerátoru byl projekt utvářen s pomocí rad zkušených mentorů až do února roku 2017, kdy spatřila světlo světa první verze aplikace.
            </p>
            <h2>
                Vývoj
            </h2>
            <p style="font-size:15px;line-height:150%;">
                První verze, která byla vydána 20.2.2017 obsahuje základní funkce, díky kterým se můžete porovnávat s ostatníma, pokládat jakékoliv otázky a hrát si se statistikou. Naše práce samozřejmě nekončí a nic není hned dokonalé, proto bychom vás požádali o vaši zpětnou vazbu. Najdete-li nějakou chybu nebo budete mít námět na nějakou novou funkci, neváhejte nás kontaktovat pomocí Facebooku či emailu. Neustále pracujeme na opravách chyb a připravujeme spoustu nových funkcích, o kterých vás budeme informovat prostřednictvím Facebooku.
            </p> <h2>
                Cíl
            </h2>
            <p style="font-size:15px;line-height:150%;">
                Naším cílem je vytvořit celosvětovou multiplatformní aplikaci, která by shromažďovala největší množství statistických údajů spojených s lidským chováním.
            </p> <h2>
                Tým
            </h2>
            <p style="font-size:15px;line-height:150%;">
                Patrik Bystroň – zakladatel projektu<br />
                Michal Falát – programátor
            </p>

        </div>
    </div>

</div>
