@{
    ViewBag.Title = "Kontakt";
}
<div class="jumbotron" style="border-radius: 3px;border: 1px solid #DDDDDD;background-color:white;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:10px; margin-top:15px;">
    <div class="container">
        <div class="col-lg-12" style="background-color:white;">
            <center>
                <h2>@ViewBag.Title</h2>
                <h3></h3>



                <address>
                    @*<a href="https://www.facebook.com/quido.org/"> <img  class="img-responsive2" src="@Url.Content("~/Content/Resources/fb.png")" alt="" height="40" width="40"  />facebook</a><br />*@
                    <strong>&nbsp;Email: </strong>   <a href="mailto:info@quido.org">info@quido.org</a><br /><br />
                    <div class="fb-follow" data-href="https://www.facebook.com/quido.org" data-layout="standard" data-size="small" data-show-faces="true" style="width:310px;"></div>
                </address>
            </center>
        </div>
    </div>
</div>
