
@{
    ViewBag.Title = "Používani cookies";
}

<div class="jumbotron" style="border-radius: 3px;border: 1px solid #DDDDDD;background-color:white;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px; margin-top:15px;">
    <div class="container">
        <div class="col-lg-6 col-lg-push-3" style="background-color:white;">
            <center>
                <h2>@ViewBag.Title</h2>
                <h3>Soubory cookie</h3>

                S cílem zajistit řádné fungování této webové stránky využívá portál Quido soubory cookies.



                <h3>Co jsou soubory cookie?</h3>

                Soubor cookie je malý textový soubor, který webová stránka ukládá ve vašem počítači nebo mobilním zařízení při jejím prohlížení. Díky tomuto souboru si webová stránka na určitou dobu uchovává informace o vašich krocích a preferencích pro Vaše budoucí návštěvy, aby Vám usnadnila opětovnou návštěvu stránky.

                

                <h3>Jak odmítnout používání souborů cookie</h3>

                Používání souborů cookie je možné nastavit pomocí Vašeho internetového prohlížeče. Většina internetových prohlížečů je původně nastavena na automatické zapnuté cookies. Toto nastavení můžete změnit zablokováním cookies nebo upozorněním v případě, že se mají cookies poslat do vašeho zařízení.
            </center>
        </div>
    </div>
</div>


