
@{
    ViewBag.Title = "FAQ";
}

<div class="jumbotron" style="border-radius: 3px;border: 1px solid #DDDDDD;background-color:white;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:25px; margin-top:15px;">
    <div class="container">
        <div class="col-lg-12" style="background-color:white;">
            <center><h2>FAQ</h2></center>
            <h3>Proč nevidím u otázky statistiku odpovědí?</h3>
            <p style="font-size:15px;"> Statistika odpovědí je každému zobrazena až poté co na danou otázku odpoví.</p>
            <h3>Můžu položit vlastní otázku?</h3>
            <p style="font-size:15px;">
                Ano, s registrací získáte možnost položit vlastní otázku.
             </p>
                <h3>Jak může otázka vypadat?</h3>
            <p style="font-size:15px;">
                Každá otázka může mít maximálně 100 znaků. Otázky, které budou vulgární, urážlivé či rasistické budou po nahlášení nenávratně smazány.
                <h3>
                    Opravdu je aplikace zdarma?
                </h3>
                    Ano, celá aplikace a všechny její funkce jsou zdarma.
                <h3>
                    Kolik můžu položit otázek?
                </h3>
                        V současné době není počet otázek omezen.
                        <br />
                        <br />
                        <br />
                        <br />
                Pokud máte další otázky, kontaktujte nás pomocí emailu nebo Facebooku.
</p>
</div>
    </div>
</div>

