@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Manage")"> <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@User.Identity.GetUserName()</a>
                @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Profil" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> Odhlásit</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrovat", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li ><a id="openLoginModal" href="javascript:void(0)">Přihlásit@*@Html.ActionLink(Resources.Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@</a></li>
    </ul>
   
}



